*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
/memory-20230601T150720.hprof
/ExtractorHost/build/
/ExtractorJs/build/
/ExtractorCommon/build/
/app/schemas/com.jayteealao.trails.data.local.database.AppDatabase/
